<!DOCTYPE html>
<html lang="en" data-vue-meta-server-rendered>
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->
    <script src="https://use.fontawesome.com/9cb86d00ca.js"></script>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="app" v-cloak v-if="dataLoaded" @resize="checkWidth()">
        <div id="banner" class="relative" v-if="show_hero_banner">
            <div style="background-image:url('//codecloud.cdn.speedyrails.net/sites/599347d86e6f641bba820000/image/png/1502826685000/Home Hero Banner Image.png')" class="banner_image_div">
                <a class="banner_image_li" >
                </a>
            </div>
        <!--<div class="banner_image">-->
        <!--    <img v-show="showBigBanner" src="http://assets.codecloudapp.com/sites/599347d86e6f641bba820000/image/png/1502826685000/Home Hero Banner Image.png" >-->
        <!--    <img v-show="!showBigBanner" src="http://assets.codecloudapp.com/sites/599347d86e6f641bba820000/image/png/1504643857000/Home Hero Banner Image_smaller.png" >-->
        <!--</div>-->
            
            <!--<img v-show="!showBigBanner" src="http://assets.codecloudapp.com/sites/599347d86e6f641bba820000/image/png/1504637143000/Home Hero Banner Image_smaller.png" >-->
            
            <div class="banner_menu page_container">
                <div class="title">
                    {{property.name}}
                </div>
                <div class="menu_content">
                    <div v-for="item in menu_items">
                        <router-link  :to="item.href" active-class="active" exact :id="item.name">
                           {{ item.name }}
                        </router-link>
                    </div>
                    <search-component :list="allStores" placeholder="Find Your Store" :suggestion-attribute="suggestionAttribute" v-model="bannerSearch" @select="onOptionSelect" class="bannerSearch"><template slot="item" scope="option">
                        <article class="media">
                            <p>
                                <strong>{{ option.data.name }}</strong>
                            </p>
                        </article>
                    </template>
                </search-component>
                    <div class="btn" role="button" @click="show_search_list"> Search Stores <i class="fa fa-search pull-right"></i></div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="menu page_container" id="menu_bar">
                <router-link class="store_logo pull-left" to="/">{{property.name}}</router-link>
                <ul class="menu_list pull-right" >
                  <li v-for="item in menu_items">
                    <router-link :to="item.href" active-class="active" exact :id="item.name">
                       {{ item.name }}
                    </router-link>
                  </li>
                </ul>
            </div>
            <hr class="hr_bold"/>
            <div class="sub_menu_bar page_container">
                <div class="today_hour">
                    OPEN TODAY
                    {{todays_hours.open_time | moment("h:mmA", timezone)}} - {{todays_hours.close_time | moment("h:mmA", timezone)}}
                </div>
                
                <div class="social_links pull-right">
                    <span class="social_link_box pinterest_link"></span>
                    <span class="social_link_box twitter_link"></span>
                    <span class="social_link_box facebook_link"></span>
                    <span class="social_link_box gplus_link"></span>
                    <span class="social_link_box instagram_link"></span>
                </div>
                <div class="search pull-right">
                    <search-component :list="allStores" placeholder="Search For Stores" :suggestion-attribute="suggestionAttribute" v-model="search" @select="onOptionSelect"><template slot="item" scope="option">
                        <article class="media">
                            <p>
                                <strong>{{ option.data.name }}</strong>
                            </p>
                        </article>
                    </template>
                </search-component>
                    <!--<today-hours></today-hours>-->
                </div>
            </div>
            <hr/>
            <router-view ></router-view>
            <section class="copyright_footer main_container">
                <div class="text-center">
                    <div class="footer_menu hidden_phone">
                        <div class="row page_container">
                            <div class="col-md-4 col-xs-4">
                                <p class="menu_header text_left">{{property.name}}</p>
                                <ul class="menu_content text_left">
                                    <li v-for="item in menu_items">
                                        <router-link :to="item.href" active-class="active" exact :id="item.name">
                                           {{ item.name }}
                                        </router-link>
                                    </li>
            
                                </ul>
                            </div>
                            <!--<div class="col-md-1 hidden_phone" height="200px" style="margin: 20px 0px;"><div class="vertical_line_left"></div></div>-->
                            
                            <div class="col-md-4 col-xs-4 hidden_phone footer_hours_container">
                                <p class="menu_content text_center">REGULAR HOURS</p>
                                <ul class="menu_content text_center">
                                    <li v-for="hour in hours">
                                        <span class="pull-left col-md-6"> 
                                           {{day_of_the_week(hour.day_of_week)}}
                                        </span>
                                        <span class="pull-right col-md-6 text-left">
                                            {{hour.open_time | moment("h:mma", timezone)}} - {{hour.close_time | moment("h:mma", timezone)}}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <!--<div class="col-md-1 hidden_phone" height="200px" style="margin: 20px 0px;"><div class="vertical_line_right"></div></div>-->
                            <div class="col-md-4 col-xs-4 hidden_phone">
                                <p class="menu_header text_center phone"><i class="fa fa-phone" aria-hidden="true"></i></p>
                                <p class="menu_header text_center ">{{property.contact_phone}}</p>
                                
                                <p class="menu_header text_center"><i class="fa fa-map-marker" aria-hidden="true"></i></p>
                                <div class="address">
                                    <p class="menu_content text_center">{{property.address1}}</p>
                                    <p class="menu_content text_center">{{property.address2}}</p>
                                    <p class="menu_content text_center">{{property.city}}, {{property.province_state}}</p>
                                    <p class="menu_content text_center">{{property.postal_code}} , {{property.country}}</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="footer_menu_mobile visible_phone">
                        <div class="row page_container">
                            <div class="col-md-12 col-xs-12">
                                <p class="menu_header text_center">{{property.name}}</p>
                                <ul class="menu_content text_left">
                                    <li v-for="item in menu_items">
                                        <router-link :to="item.href" active-class="active" exact :id="item.name">
                                           {{ item.name }}
                                        </router-link>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer_text">
                        <p class=" page_container ">
                            <span class="pull-left center_vertical"> 
                                &copy; {{copyright_year}} {{property.name | uppercase}}. All rights reserved. <a class="hidden_phone">Privacy Policy</a> | <a class="hidden_phone">Terms & Conditions</a></span>
                            <span class="pull-right center_vertical"> 
                                Powered by <a href="http://mallmaverick.com/" targer="_blank">Mall Maverick</a>
                            </span>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script data-main="/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
  </body>
</html>
