<!DOCTYPE html>
<html lang="en" data-vue-meta-server-rendered>
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="app" v-cloak v-if="dataLoaded" @resize="checkWidth()">
        <div id="banner" class="relative">
        <div class="banner_image">
            <img v-show="showBigBanner" src="http://assets.codecloudapp.com/sites/599347d86e6f641bba820000/image/png/1502826685000/Home Hero Banner Image.png" >
            <img v-show="!showBigBanner" src="http://assets.codecloudapp.com/sites/599347d86e6f641bba820000/image/png/1504643857000/Home Hero Banner Image_smaller.png" >
        </div>
            
            <!--<img v-show="!showBigBanner" src="http://assets.codecloudapp.com/sites/599347d86e6f641bba820000/image/png/1504637143000/Home Hero Banner Image_smaller.png" >-->
            
            <div class="banner_menu page_container">
                <div class="title">
                    {{property.name}}
                </div>
                <div class="menu_content">
                    <div v-for="item in menu_items">
                        <router-link  :to="item.href" active-class="active" exact :id="item.name">
                           {{ item.name }}
                        </router-link>
                    </div>
                    <search-component placeholder="Find Your Store" autocomplete="false"></search-component>
                    <div class="btn" role="button"> Search Stores <i class="fa fa-search pull-right"></i></div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="menu page_container" id="menu_bar">
                <a class="store_logo pull-left" href="/">{{property.name}}</a>
                <ul class="menu_list pull-right" >
                  <li v-for="item in menu_items">
                    <router-link :to="item.href" active-class="active" exact :id="item.name">
                       {{ item.name }}
                    </router-link>
                  </li>
                </ul>
            </div>
            <hr class="hr_bold"/>
            <div class="sub_menu_bar page_container">
                <div class="today_hour pull-left">
                    Open Today 
                    <!--<today-hours></today-hours>-->
                </div>
                
                <div class="social_links pull-right">
                    <span class="social_link_box pinterest_link"></span>
                    <span class="social_link_box twitter_link"></span>
                    <span class="social_link_box facebook_link"></span>
                    <span class="social_link_box gplus_link"></span>
                    <span class="social_link_box instagram_link"></span>
                </div>
                <div class="search pull-right">
                    <search-component placeholder="Search For Stores"></search-component>
                    <!--<today-hours></today-hours>-->
                </div>
            </div>
            <hr/>
            <router-view></router-view>
            <section class="copyright_footer main_container">
                    <div class="text-center visible_phone">
                        <img src="//codecloud.cdn.speedyrails.net/sites/59515e256e6f646e860c0000/image/png/1498506682000/MFLogo2x.png" class="footer_mf_logo" alt="">
                        <p class="subscribe_text">
                            
                        </p>
                        <div class="newsletter_div">
                            <!--<form action="//mobilefringe.createsend.com/t/d/s/ithdul/" method="post" id="newsletter_form">-->
                            <!--    <input name="cm-ithdul-ithdul" type="text" placeholder="Your Email" class="newsletter_control" required />-->
                            <!--    <button class="newsletter_btn animated_btn">{{$t("message.submit")}}</button>-->
                            <!--    <p class="hidden_now" id="success_subscribe">-->
                            <!--        {{$t("message.thankYouMessage")}}-->
                            <!--    </p>-->
                            <!--</form>-->
                        </div>
                        <div class="footer_menu">
                            <div class="row page_container">
                                <div class="col-md-4">
                                    <p class="menu_header text_left">{{property.name}}</p>
                                    <ul class="menu_content text_left">
                                        <li v-for="item in menu_items">
                                            <router-link :to="item.href" active-class="active" exact :id="item.name">
                                               {{ item.name }}
                                            </router-link>
                                        </li>
                
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <p class="menu_content text_center">REGULAR HOURS</p>
                                    <ul class="menu_content text_left">
                                        <li v-for="hour in hours">
                                            <span class="pull-left col-md-6"> 
                                               {{day_of_the_week(hour.day_of_week)}}
                                            </span>
                                            <span class="pull-right col-md-6">
                                                {{hour.open_time | moment("h:mma", timezone)}} - {{hour.close_time | moment("h:mma", timezone)}}
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <p class="menu_header text_center"><i class="icon-phone"></i> icon-phone</p>
                                    <p class="menu_header text_center">{{property.contact_phone}}</p>
                                    <br/>
                                    <p class="menu_header text_center"><i class="icon-map-marker"></i></p>
                                    <p class="menu_content text_center">{{property.address1}}</p>
                                    <p class="menu_content text_center">{{property.address2}}</p>
                                    <p class="menu_content text_center">{{property.city}}, {{property.province_state}}</p>
                                    <p class="menu_content text_center">{{property.postal_code}}</p>
                                    <p class="menu_content text_center">{{property.country}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="footer_text">
                        <p class=" page_container ">
                            <span class="pull-left center_vertical"> 
                                &copy; {{copyright_year}} {{property.name | uppercase}}. All rights reserved. <a>Privacy Policy</a> | <a>Terms & Conditions</a></span>
                            <span class="pull-left center_vertical"> 
                                Powered by <a href="http://mallmaverick.com/" targer="_blank">Mall Maverick</a>
                            </span>
                        </p>
                        </div>
                    </div>
                </section>
        </div>
    </div>
    <script data-main="/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
  </body>
</html>
