[v-cloak] {
  display:none;
}
hr{
  max-width: 100%;
}
.relative {
    position:relative;
}
.absolute {
    position:absolute;
}

/******Index.html *******/
#banner {
    img{
        width:100%;
        height:100%;
    }
    
}
.navbar-brand {
    
}